<a href="https://colab.research.google.com/github/LJ1201/MSDS-490-Bank_Campaign/blob/main/BankMkting_featureengineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import pandas as pd

In [134]:
url = 'https://raw.githubusercontent.com/ShawnLiu119/CapstoneProject_BankingMarketing/main/rawdata/bank-additional-full.csv'
data = pd.read_csv(url, sep=';')

In [135]:
data['education'].value_counts()

data_1 = data.copy()
data_1 = data_1[data_1['education'] != 'illiterate']

data_1['edu_new'] = data_1['education'].map({'basic.4y': 'pre_high', 
                                         'basic.9y': 'pre_high',
                                         'basic.6y': 'pre_high',
                                         'university.degree' : 'post_high',
                                         'professional.course':'post_high',
                                         'high.school' : 'high',
                                         'unknown' :'unknown' })

In [136]:
def map_job(row):
    if row['job'] in ['admin.', 'management', 'entrepreneur','self-employed']:
        cat = 'white_collar'
    elif row['job'] in ['housemaid', 'blue-collar', 'technician', 'services']:
        cat = 'blue_collar'
    elif row['job'] in ['student', 'retired', 'unemployed']:
        cat = 'not_working'
    else:
        cat = 'unknown'
    return cat

data_1['job_new'] = data_1.apply(map_job, axis=1)
data_1['job_new'].value_counts(dropna = False)

blue_collar     21017
white_collar    16217
not_working      3606
unknown           330
Name: job_new, dtype: int64

In [137]:
def map_month(row):
    if row['month'] in ['mar', 'apr', 'may']:
        cat = 'spring'
    elif row['month'] in ['jun', 'jul', 'aug']:
        cat = 'summer'
    elif row['month'] in ['sep', 'oct', 'nov']:
        cat = 'fall'
    else:
        cat = 'winter'
    return cat

data_1['season'] = data_1.apply(map_month, axis=1)
data_1['season'].value_counts(dropna = False)

summer    18660
spring    16942
fall       5386
winter      182
Name: season, dtype: int64

In [180]:
data_1.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'edu_new', 'job_new',
       'season'],
      dtype='object')

### Data Transformation - V1 (Agreed on Team Discussion)

In [181]:
#This transformed dataframe is based on group discussion on 7/23
# - keep all numerical features as they are
# - consolidate categorical features (education, job, season) and drop originial ones

df_tran_1 = data_1[['age', 'marital', 'default', 'housing', 'loan',
       'contact', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'edu_new', 'job_new', 'season']]

In [182]:
df_tran_1.columns

Index(['age', 'marital', 'default', 'housing', 'loan', 'contact',
       'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'edu_new', 'job_new', 'season'],
      dtype='object')

In [183]:
df_tran_1.head().T

,0,1,2,3,4
age,56,57,37,40,56
marital,married,married,married,married,married
default,no,unknown,no,no,no
housing,no,no,yes,no,no
loan,no,no,no,no,yes
contact,telephone,telephone,telephone,telephone,telephone
day_of_week,mon,mon,mon,mon,mon
duration,261,149,226,151,307
campaign,1,1,1,1,1
pdays,999,999,999,999,999
previous,0,0,0,0,0
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent
emp.var.rate,1.1,1.1,1.1,1.1,1.1
cons.price.idx,93.994,93.994,93.994,93.994,93.994
cons.conf.idx,-36.4,-36.4,-36.4,-36.4,-36.4
euribor3m,4.857,4.857,4.857,4.857,4.857
nr.employed,5191.0,5191.0,5191.0,5191.0,5191.0
y,no,no,no,no,no
edu_new,pre_high,high,high,pre_high,high
job_new,blue_collar,blue_collar,blue_collar,white_collar,blue_collar
season,spring,spring,spring,spring,spring

In [184]:
df_tran_1.y.value_counts()

no     36534
yes     4636
Name: y, dtype: int64

In [185]:
df_tran_1.columns

Index(['age', 'marital', 'default', 'housing', 'loan', 'contact',
       'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'edu_new', 'job_new', 'season'],
      dtype='object')

In [186]:
df_tran_1.head().T

,0,1,2,3,4
age,56,57,37,40,56
marital,married,married,married,married,married
default,no,unknown,no,no,no
housing,no,no,yes,no,no
loan,no,no,no,no,yes
contact,telephone,telephone,telephone,telephone,telephone
day_of_week,mon,mon,mon,mon,mon
duration,261,149,226,151,307
campaign,1,1,1,1,1
pdays,999,999,999,999,999
previous,0,0,0,0,0
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent
emp.var.rate,1.1,1.1,1.1,1.1,1.1
cons.price.idx,93.994,93.994,93.994,93.994,93.994
cons.conf.idx,-36.4,-36.4,-36.4,-36.4,-36.4
euribor3m,4.857,4.857,4.857,4.857,4.857
nr.employed,5191.0,5191.0,5191.0,5191.0,5191.0
y,no,no,no,no,no
edu_new,pre_high,high,high,pre_high,high
job_new,blue_collar,blue_collar,blue_collar,white_collar,blue_collar
season,spring,spring,spring,spring,spring

In [187]:
# def map_y(row):
#     if row['y'] == "no":
#         cat = 0
#     else:
#         cat = '1'
#     return cat

# df_trans_1['y'] = df_trans_1.apply(map_y, axis = 1)

In [188]:
# def remove_outlier(numlist, df):
#   for i in numlist:
#     df[i+"_Outlier"] = 0
#     df.loc[df[i]>(df[i].mean() + 3*df[i].std()),i + "_Outlier"]=1

In [189]:
# remove_outlier(numList, temp)

In [190]:
df_tran_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41170 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41170 non-null  int64
 1   marital         41170 non-null  object
 2   default         41170 non-null  object
 3   housing         41170 non-null  object
 4   loan            41170 non-null  object
 5   contact         41170 non-null  object
 6   day_of_week     41170 non-null  object
 7   duration        41170 non-null  int64
 8   campaign        41170 non-null  int64
 9   pdays           41170 non-null  int64
 10  previous        41170 non-null  int64
 11  poutcome        41170 non-null  object
 12  emp.var.rate    41170 non-null  float64
 13  cons.price.idx  41170 non-null  float64
 14  cons.conf.idx   41170 non-null  float64
 15  euribor3m       41170 non-null  float64
 16  nr.employed     41170 non-null  float64
 17  y               41170 non-null  object
 18  edu_new         41170 non-null  object
 19  job_new         41170 non-null  object
 20  season          41170 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.9+ MB

In [191]:
df_tran_1.dtypes.index

Index(['age', 'marital', 'default', 'housing', 'loan', 'contact',
       'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'edu_new', 'job_new', 'season'],
      dtype='object')

In [192]:
objList = []

for i in df_tran_1.dtypes.index :
    if i =='y':continue
    #print(" here is i .....", i , " ..... and here is the type", dt[i] )
    if df_tran_1.dtypes[i] in (["object"]) : objList.append( i )

for i in objList :
    thePrefix = "z_" + i
    y = pd.get_dummies( df_tran_1[i], prefix=thePrefix, drop_first=True )   
    df_tran_1 = pd.concat( [df_tran_1, y], axis=1 )
    df_tran_1 = df_tran_1.drop( i, axis=1 )

In [193]:
objList

['marital',
 'default',
 'housing',
 'loan',
 'contact',
 'day_of_week',
 'poutcome',
 'edu_new',
 'job_new',
 'season']

In [194]:
df_tran_1.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y',
       'z_marital_married', 'z_marital_single', 'z_marital_unknown',
       'z_default_unknown', 'z_default_yes', 'z_housing_unknown',
       'z_housing_yes', 'z_loan_unknown', 'z_loan_yes', 'z_contact_telephone',
       'z_day_of_week_mon', 'z_day_of_week_thu', 'z_day_of_week_tue',
       'z_day_of_week_wed', 'z_poutcome_nonexistent', 'z_poutcome_success',
       'z_edu_new_post_high', 'z_edu_new_pre_high', 'z_edu_new_unknown',
       'z_job_new_not_working', 'z_job_new_unknown', 'z_job_new_white_collar',
       'z_season_spring', 'z_season_summer', 'z_season_winter'],
      dtype='object')

In [206]:
df_tran_1['y'] = df_tran_1.y.map(dict(yes=1, no=0))

In [207]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split


X = df_tran_1.loc[:, df_tran_1.columns != 'y']
y = df_tran_1.loc[:, df_tran_1.columns == 'y']


os = SMOTE(random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
columns = X_train.columns
os_data_X,os_data_y=os.fit_resample(X_train, y_train)
os_data_X = pd.DataFrame(data=os_data_X,columns=columns )
os_data_y= pd.DataFrame(data=os_data_y,columns=['y'])
# we can Check the numbers of our data
print("length of oversampled data is ",len(os_data_X))
print("Number of no subscription in oversampled data",len(os_data_y[os_data_y['y']==0]))
print("Number of subscription",len(os_data_y[os_data_y['y']==1]))
print("Proportion of no subscription data in oversampled data is ",len(os_data_y[os_data_y['y']==0])/len(os_data_X))
print("Proportion of subscription data in oversampled data is ",len(os_data_y[os_data_y['y']==1])/len(os_data_X))

length of oversampled data is  51102
Number of no subscription in oversampled data 25551
Number of subscription 25551
Proportion of no subscription data in oversampled data is  0.5
Proportion of subscription data in oversampled data is  0.5

In [216]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression


data_final_vars=df_tran_1.columns.values.tolist()
y=['y']
X=[i for i in data_final_vars if i not in y]



logreg = LogisticRegression(solver= 'liblinear')
rfe = RFE(logreg,n_features_to_select=20)
rfe = rfe.fit(os_data_X.values, os_data_y.values.ravel())

features = list(os_data_X.columns[rfe.support_])

print('total features:', os_data_X.shape[1])

print(rfe.support_)
print(features)
print(rfe.ranking_)

total features: 35
[False False False False False False False False False False  True  True
  True  True False  True  True  True  True  True  True  True  True  True
 False  True  True  True  True False  True  True  True False False]
['z_marital_married', 'z_marital_single', 'z_marital_unknown', 'z_default_unknown', 'z_housing_unknown', 'z_housing_yes', 'z_loan_unknown', 'z_loan_yes', 'z_contact_telephone', 'z_day_of_week_mon', 'z_day_of_week_thu', 'z_day_of_week_tue', 'z_day_of_week_wed', 'z_poutcome_success', 'z_edu_new_post_high', 'z_edu_new_pre_high', 'z_edu_new_unknown', 'z_job_new_unknown', 'z_job_new_white_collar', 'z_season_spring']
[16 13  7 14  4  6  8 10  3 12  1  1  1  1 15  1  1  1  1  1  1  1  1  1
  5  1  1  1  1  2  1  1  1  9 11]

##Fit Model

##Model 1

In [218]:
X = os_data_X[features]
y = os_data_y['y']

In [251]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.502069
         Iterations 7
                            Results: Logit
=======================================================================
Model:                Logit              Pseudo R-squared:   0.276
Dependent Variable:   y                  AIC:                51345.5045
Date:                 2022-07-29 22:11   BIC:                51486.9698
No. Observations:     51102              Log-Likelihood:     -25657.
Df Model:             15                 LL-Null:            -35421.
Df Residuals:         51086              LLR p-value:        0.0000
Converged:            1.0000             Scale:              1.0000
No. Iterations:       7.0000
-----------------------------------------------------------------------
                        Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-----------------------------------------------------------------------
z_marital_married       0.6032   0.0233  25.9133 0.0000  0.5576  0.6488
z_marital_single        0.4315   0.0277  15.5648 0.0000  0.3772  0.4859
z_default_unknown      -1.1317   0.0447 -25.3453 0.0000 -1.2192 -1.0442
z_housing_yes           0.1361   0.0218   6.2488 0.0000  0.0934  0.1788
z_loan_yes             -0.8739   0.0440 -19.8447 0.0000 -0.9603 -0.7876
z_contact_telephone    -1.1664   0.0305 -38.2894 0.0000 -1.2261 -1.1067
z_day_of_week_mon      -1.6598   0.0378 -43.8580 0.0000 -1.7340 -1.5856
z_day_of_week_thu      -1.4264   0.0349 -40.8172 0.0000 -1.4949 -1.3579
z_day_of_week_tue      -1.4278   0.0367 -38.9074 0.0000 -1.4997 -1.3559
z_day_of_week_wed      -1.3775   0.0360 -38.2953 0.0000 -1.4480 -1.3070
z_poutcome_success      3.0201   0.0587  51.4527 0.0000  2.9051  3.1351
z_edu_new_pre_high     -0.6153   0.0316 -19.4714 0.0000 -0.6772 -0.5534
z_edu_new_unknown      -0.7311   0.0818  -8.9388 0.0000 -0.8914 -0.5708
z_job_new_unknown      -0.8989   0.2611  -3.4429 0.0006 -1.4107 -0.3872
z_job_new_white_collar -0.1405   0.0236  -5.9492 0.0000 -0.1868 -0.0942
z_season_spring         0.7336   0.0224  32.6827 0.0000  0.6896  0.7776
=======================================================================

In [252]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [253]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.85

In [254]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[6629 1003]
 [1368 6331]]

In [240]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.85      0.84      7709
           1       0.85      0.83      0.84      7622

    accuracy                           0.84     15331
   macro avg       0.84      0.84      0.84     15331
weighted avg       0.84      0.84      0.84     15331

###Model 2

In [229]:
features.remove('z_housing_unknown')

features.remove('z_loan_unknown')

ValueError: ignored

In [230]:
X = os_data_X[features]
y = os_data_y['y']

logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.502041
         Iterations 7
                            Results: Logit
=======================================================================
Model:                Logit              Pseudo R-squared:   0.276
Dependent Variable:   y                  AIC:                51346.6371
Date:                 2022-07-29 22:05   BIC:                51505.7855
No. Observations:     51102              Log-Likelihood:     -25655.
Df Model:             17                 LL-Null:            -35421.
Df Residuals:         51084              LLR p-value:        0.0000
Converged:            1.0000             Scale:              1.0000
No. Iterations:       7.0000
-----------------------------------------------------------------------
                        Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-----------------------------------------------------------------------
z_marital_married       0.6015   0.0238  25.2536 0.0000  0.5549  0.6482
z_marital_single        0.4298   0.0284  15.1588 0.0000  0.3742  0.4854
z_marital_unknown      -0.7151   0.4499  -1.5896 0.1119 -1.5968  0.1666
z_default_unknown      -1.1316   0.0447 -25.3424 0.0000 -1.2191 -1.0441
z_housing_yes           0.1363   0.0219   6.2172 0.0000  0.0933  0.1792
z_loan_yes             -0.8738   0.0441 -19.8279 0.0000 -0.9602 -0.7875
z_contact_telephone    -1.1661   0.0305 -38.2714 0.0000 -1.2259 -1.1064
z_day_of_week_mon      -1.6586   0.0381 -43.5341 0.0000 -1.7333 -1.5839
z_day_of_week_thu      -1.4255   0.0352 -40.4874 0.0000 -1.4945 -1.3565
z_day_of_week_tue      -1.4271   0.0369 -38.6430 0.0000 -1.4995 -1.3547
z_day_of_week_wed      -1.3766   0.0362 -38.0541 0.0000 -1.4475 -1.3057
z_poutcome_success      3.0205   0.0587  51.4456 0.0000  2.9054  3.1355
z_edu_new_post_high     0.0015   0.0249   0.0599 0.9522 -0.0473  0.0502
z_edu_new_pre_high     -0.6144   0.0330 -18.5975 0.0000 -0.6791 -0.5496
z_edu_new_unknown      -0.7304   0.0825  -8.8494 0.0000 -0.8922 -0.5687
z_job_new_unknown      -0.8893   0.2614  -3.4017 0.0007 -1.4017 -0.3769
z_job_new_white_collar -0.1406   0.0248  -5.6795 0.0000 -0.1892 -0.0921
z_season_spring         0.7342   0.0225  32.6736 0.0000  0.6902  0.7783
=======================================================================

In [231]:
features.remove('z_marital_unknown')
features.remove('z_edu_new_post_high')

In [232]:
X = os_data_X[features]
y = os_data_y['y']

logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.502069
         Iterations 7
                            Results: Logit
=======================================================================
Model:                Logit              Pseudo R-squared:   0.276
Dependent Variable:   y                  AIC:                51345.5045
Date:                 2022-07-29 22:07   BIC:                51486.9698
No. Observations:     51102              Log-Likelihood:     -25657.
Df Model:             15                 LL-Null:            -35421.
Df Residuals:         51086              LLR p-value:        0.0000
Converged:            1.0000             Scale:              1.0000
No. Iterations:       7.0000
-----------------------------------------------------------------------
                        Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-----------------------------------------------------------------------
z_marital_married       0.6032   0.0233  25.9133 0.0000  0.5576  0.6488
z_marital_single        0.4315   0.0277  15.5648 0.0000  0.3772  0.4859
z_default_unknown      -1.1317   0.0447 -25.3453 0.0000 -1.2192 -1.0442
z_housing_yes           0.1361   0.0218   6.2488 0.0000  0.0934  0.1788
z_loan_yes             -0.8739   0.0440 -19.8447 0.0000 -0.9603 -0.7876
z_contact_telephone    -1.1664   0.0305 -38.2894 0.0000 -1.2261 -1.1067
z_day_of_week_mon      -1.6598   0.0378 -43.8580 0.0000 -1.7340 -1.5856
z_day_of_week_thu      -1.4264   0.0349 -40.8172 0.0000 -1.4949 -1.3579
z_day_of_week_tue      -1.4278   0.0367 -38.9074 0.0000 -1.4997 -1.3559
z_day_of_week_wed      -1.3775   0.0360 -38.2953 0.0000 -1.4480 -1.3070
z_poutcome_success      3.0201   0.0587  51.4527 0.0000  2.9051  3.1351
z_edu_new_pre_high     -0.6153   0.0316 -19.4714 0.0000 -0.6772 -0.5534
z_edu_new_unknown      -0.7311   0.0818  -8.9388 0.0000 -0.8914 -0.5708
z_job_new_unknown      -0.8989   0.2611  -3.4429 0.0006 -1.4107 -0.3872
z_job_new_white_collar -0.1405   0.0236  -5.9492 0.0000 -0.1868 -0.0942
z_season_spring         0.7336   0.0224  32.6827 0.0000  0.6896  0.7776
=======================================================================

In [257]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X, y, test_size=0.3, random_state=21)
logreg = LogisticRegression()
logreg.fit(X_train_2, y_train_2)

LogisticRegression()

In [258]:
y_pred_2 = logreg.predict(X_test_2)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.84

In [260]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test_2, y_pred_2)
print(confusion_matrix)
print(classification_report(y_test, y_pred))

[[6577 1132]
 [1292 6330]]
              precision    recall  f1-score   support

           0       0.83      0.87      0.85      7632
           1       0.86      0.82      0.84      7699

    accuracy                           0.85     15331
   macro avg       0.85      0.85      0.85     15331
weighted avg       0.85      0.85      0.85     15331

In [235]:
X_train_reg = sm.add_constant(X_train)
est = sm.OLS(Y_train.astype(float), X_train_reg.astype(float)).fit()
est.summary()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

NameError: ignored

In [ ]:
X_train.shape

(53, 53)

In [ ]:
# first neural network with keras make predictions
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
# load the dataset
X_train = X_train[1:54]
# define the keras model
model = Sequential()
model.add(Dense(12, input_shape=(8,), activation='relu'))
model.add(Dense(53, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train, Y_train, epochs=150, batch_size=10, verbose=0)
# make class predictions with the model
predictions = (model.predict(X_train) > 0.5).astype(int)
# summarize the first 5 cases
for i in range(5):
	print('%s => %d (expected %d)' % (X_train[i].tolist(), predictions[i], Y_train[i]))

ValueError: ignored